<!DOCTYPE html>
<html lang="en">

<head>
    <title>Remote Drone Control</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <style>
        body {
            overflow: auto;
        }
    </style>
</head>

<body>
    <!-- CONTROL FORM-->
    <form method="POST" action="" id="controlDataForm">
        {{ form.hidden_tag() }}
        {{ form.inputData(type="hidden", id="cmd") }}
    </form>

    <!-- SWICTH CAM FORM-->
    <form method="POST" action="" id="switchCamForm">
        {{ form.hidden_tag() }}
        {{ form.inputData(type="hidden", id="cam", value="0") }}
    </form>

    <!-- FACE DETECTION MODULE FORM-->
    <form method="POST" action="" id="faceDetectionForm">
        {{ form.hidden_tag() }}
        {{ form.inputData(type="hidden", id="faceDetect", value="off") }}
    </form>

    <!-- DRONE STATUS FORM-->
    <form method="POST" action="" id="statusForm">
        {{ form.hidden_tag() }}
        {{ form.inputData(type="hidden", id="status") }}
    </form>

    <div class="row justify-content-center">
        <!-- Video Feed -->
        <div class="col=8">
            <div class="card" style="height: 20%;">
                <img class="card-img-top" src="/video_feed" alt="/face.jpg">
                <div class="card-body">
                    <p class="card-text" id="droneDir">Drone Direction: </p>

                    <button type="button" class="btn btn-primary btn-sm" onclick="switchDroneCam();" id="switchCam">Cam
                        Type: Front</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="faceDetectionModule();"
                        id="faceDetection">Face Detect: Disabled</button>

                    <button type="button" class="btn btn-success btn-sm" onclick="takeoff();"
                        id="takeoff">TakeOff</button>

                    <button type="button" class="btn btn-danger btn-sm" onclick="land();"
                        id="land">Land</button>

                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var PREV_KEY = '';
    function switchDroneCam() {
        $.ajax({
            url: "./control/switch-cam",
            type: "POST",
            data: $("#switchCamForm").serialize(),
            success: function (data) {
                if (data == "0") $("#switchCam").text("Cam Type: Front");
                else $("#switchCam").text("Cam Type: Vertical");
                $("#cam").val(data);
            }
        });
    }

    function faceDetectionModule() {
        $.ajax({
            url: "./control/face-detection",
            type: "POST",
            data: $("#faceDetectionForm").serialize(),
            success: function (data) {
                if (data == "on") $("#faceDetection").text("Face Detect: Enabled");
                else $("#faceDetection").text("Face Detect: Disabled");
                $("#faceDetect").val(data);
            }
        });
    }

    function takeoff() {
        $("#status").val("takeoff");

        $.ajax({
            url: "./control/status",
            type: "POST",
            data: $("#statusForm").serialize(),
            success: function (data) {
                setVisualDir("taking Off");
            }
        });
    }

    function land() {
        $("#status").val("land");
        
        $.ajax({
            url: "./control/status",
            type: "POST",
            data: $("#statusForm").serialize(),
            success: function (data) {
                setVisualDir("Landing");
            }
        });
    }

    function sendControlData(data) {
        $("#cmd").val(data);

        console.log("Sending data: " + data);

        $.ajax({
            url: "./control/data",
            type: "GET",
            data: $("#controlDataForm").serialize(),
            success: function (data) {
                setVisualDir(data);
            }
        });
    }

    function setVisualDir(dir) {
        $("#droneDir").text("Drone Direction: " + dir);
    }

    //Events
    document.addEventListener('keyup', function (event) {
        event.preventDefault();

        if (event.key == 'w' ||
            event.key == 'a' ||
            event.key == 's' ||
            event.key == 'd' ||
            event.key == " " || 
            event.key == "Shift"
        ) {
            PREV_KEY = '';
            sendControlData("hover");
        }
    });

    document.addEventListener('keydown', function (event) {
        event.preventDefault();

        //W Key -> Drone Forward
        if (event.key == 'w' && PREV_KEY != event.key) {
            sendControlData(event.key.toLowerCase());
            console.log(PREV_KEY  + " " +  event.key);
        }

        //A Key -> Drone Rotate Left
        else if (event.key == 'a' && PREV_KEY != event.key) {
            sendControlData(event.key.toLowerCase());
            console.log(PREV_KEY  + " " +  event.key);
        }

        //S Key -> Drone Backward
        else if (event.key == 's' && PREV_KEY != event.key) {
            sendControlData(event.key.toLowerCase());
            console.log(PREV_KEY  + " " +  event.key);
        }

        //D Key -> Drone Rotate Right
        else if (event.key == 'd' && PREV_KEY != event.key) {
            sendControlData(event.key.toLowerCase());
            console.log(PREV_KEY  + " " +  event.key);
        }

        //Space Key -> Drone Raise
        else if (event.key == ' ' && PREV_KEY != event.key) {
            sendControlData("up");
        }

        //Shift Key -> Drone Lower
        else if (event.key == 'Shift' && PREV_KEY != event.key) {
            sendControlData("down");
        }

        //R Key -> Reset state
        else if (event.key == 'r') {
            sendControlData("reset");
            setVisualDir("N/A -> Resetting drone state");
        }

        PREV_KEY = event.key;
    });
</script>

</html>